In [1]:
import requests
import json
import prettytable
import pandas as pd
import os
import datetime

In [9]:
all_series = pd.read_csv("series.csv")
all_series_list = (list(all_series.iloc[:,0]))
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": all_series_list,"startyear":str(datetime.datetime.now().year - 1), "endyear":"2024"})
p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [10]:
# all_series.loc[all_series['Series_id'] == 'CES0000000001', "Series_name"]
# ser = 'CES0000000001'
# all_series.query(f"Series_id == '{ser}'")
#trial commit from vscode

json_data

{'status': 'REQUEST_NOT_PROCESSED',
 'responseTime': 0,
 'message': ['Request could not be serviced, as the daily threshold for total number of requests allocated to the user with registration key  has been reached.'],
 'Results': {}}

In [7]:

outdir = "./data/"
# if not os.path.exists(outdir):
#     os.mkdir(outdir)
for series in json_data['Results']['series']:
    #print(series['seriesID'])
    outname = str(all_series.loc[all_series['Series_id'] == series['seriesID'], "Series_name"].item()).strip() + ".csv".strip()
    fullname = os.path.join(outdir, outname)
    #print((all_series.loc[all_series['Series_id'] == series['seriesID'], "Series_name"].item()))
    display(pd.DataFrame(series['data']))
    
    #for item in series['data']:
        #display(pd.DataFrame(item))

KeyError: 'series'

In [12]:
x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
data

'{"seriesid": ["CUUR0000SA0", "SUUR0000SA0"], "startyear": "2011", "endyear": "2014"}'

In [21]:

df.index

Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df = pd.read_csv("draft.csv")
df.loc[len(df)] = [33,35]
df.to_csv("draft2.csv", index=False)
df.loc[len(df)] = [33,35]
df.loc[len(df)] = [33,35]
df.loc[len(df)] = [43,45]
df.loc[df.index == (len(df)-1)].to_csv("draft2.csv", index=False, mode="a", header=False)

In [44]:
path = "Civilian Employment.csv"
df2 = pd.read_csv(path)
df2.loc[df2['latest'] == True, 'value'] = 8000085

df2 = df2.loc[::-1]
display(df2)
#df2.loc[df2['latest'] == True].to_csv(path, mode="a", index=False, header=False)

,year,month,period,value,footnotes,latest
23,2024,November,M11,8000085,[{}],True
22,2023,January,M01,160152,"[{'code': '1', 'text': 'Data affected by chang...",NaN
21,2023,February,M02,160301,[{}],NaN
20,2023,March,M03,160824,[{}],NaN
19,2023,April,M04,160962,[{}],NaN
18,2023,May,M05,160707,[{}],NaN
17,2023,June,M06,161004,[{}],NaN
16,2023,July,M07,161209,[{}],NaN
15,2023,August,M08,161500,[{}],NaN
14,2023,September,M09,161550,[{}],NaN
13,2023,October,M10,161280,[{}],NaN
12,2023,November,M11,161866,[{}],NaN
11,2023,December,M12,161183,[{}],NaN
10,2024,January,M01,161152,"[{'code': '1', 'text': 'Data affected by chang...",NaN
9,2024,February,M02,160968,[{}],NaN
8,2024,March,M03,161466,[{}],NaN
7,2024,April,M04,161491,[{}],NaN
6,2024,May,M05,161083,[{}],NaN
5,2024,June,M06,161199,[{}],NaN
4,2024,July,M07,161266,[{}],NaN
3,2024,August,M08,161434,[{}],NaN
2,2024,September,M09,161864,[{}],NaN
1,2024,October,M10,161496,[{}],NaN
0,2024,November,M11,8000085,[{}],True

In [17]:
path = 'data/Unemployment Rate.csv'
df = pd.read_csv(path)
#df['latest'] = df['latest'].notnull()
df
#df[df['latest'] == True].to_csv(path, index=False, header=False, mode='a')

    year      month period  value footnotes  latest
0   2023    January    M01    3.4      [{}]   False
1   2023   February    M02    3.6      [{}]   False
2   2023      March    M03    3.5      [{}]   False
3   2023      April    M04    3.4      [{}]   False
4   2023        May    M05    3.7      [{}]   False
5   2023       June    M06    3.6      [{}]   False
6   2023       July    M07    3.5      [{}]   False
7   2023     August    M08    3.8      [{}]   False
8   2023  September    M09    3.8      [{}]   False
9   2023    October    M10    3.8      [{}]   False
10  2023   November    M11    3.7      [{}]   False
11  2023   December    M12    3.7      [{}]   False
12  2024    January    M01    3.7      [{}]   False
13  2024   February    M02    3.9      [{}]   False
14  2024      March    M03    3.8      [{}]   False
15  2024      April    M04    3.9      [{}]   False
16  2024        May    M05    4.0      [{}]   False
17  2024       June    M06    4.1      [{}]   False
18  2024       July    M07    4.3      [{}]   False
19  2024     August    M08    4.2      [{}]   False
20  2024  September    M09    4.1      [{}]   False
21  2024    October    M10    4.1      [{}]   False
22  2024   November    M11    4.2      [{}]    True
23  2024   November    M11    4.2      [{}]    True